<!DOCTYPE html>
<html>
    <head>
        <style>
            #tbox{
                width: 100%;
                height: 49%;
            }
        </style>
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script>
            function bad() {
                var tb = document.getElementById("tbox")
                var url = tb.value
                babo = tb.value.replace(BAD, "아잉");
                $('#hello').text(babo)
            }
            var BAD = new RegExp([ "느으*[^가-힣]*금마?", "니[^가-힣]*(엄|앰|엠)", "(ㅄ|ㅅㅂ|ㅂㅅ)", "미친(년|놈)?", "(병|븅|빙)[^가-힣]*신", "보[^가-힣]*지", "(새|섀|쌔|썌)[^가-힣]*(기|끼)", "섹[^가-힣]*스", "(시|씨|쉬|쒸)이*입?[^가-힣]*(발|빨|벌|뻘|팔|펄)", "십[^가-힣]*새", "씹", "(애|에)[^가-힣]*미", "자[^가-힣]*지", "존[^가-힣]*나", "좆|죶", "지랄", "창[^가-힣]*(녀|년|놈)", "fuck", "sex", "bitch", "(이|리)*[^가-힣]*승*[^가-힣]*만", "윤*[^가-힣]*보*[^가-힣]*선", "박*[^가-힣]*정*[^가-힣]*희", "최*[^가-힣]*규*[^가-힣]*하", "전*[^가-힣]*두*[^가-힣]*환", "노*[^가-힣]*태*[^가-힣]*우", "김*[^가-힣]*영*[^가-힣]*삼", "김*[^가-힣]*대*[^가-힣]*중", "노*[^가-힣]*무*[^가-힣]*현", "이*[^가-힣]*명*[^가-힣]*박", "박*[^가-힣]*근*[^가-힣]*혜", "문*[^가-힣]*재*[^가-힣]*(인|앙)"].join('|'), "g");
        </script>
    </head>
    <body>
        <input type="text" id="tbox">
        <input type="button" id="btn" value="감지" onclick="bad();">
        <p id="hello"></p>
    </body>
</html>