<!DOCTYPE html>
<html>
    <head>
        <title>도움말</title>
        <style>
            li {
                font-size: 15pt;
            }
            label {
                font-size: 17pt;
                font-weight: bold;
            }
            h1 {
                font-size: 30pt;
            }
            ol {
                font-size: 15pt;
            }
        </style>
        <meta charset="UTF-8">
        <body>
            <h1>도움말</h1>
            <h2>목차</h2>
                <li onclick="location.href='#help'">도움말</li>
                <li onclick="location.href='#gamezone'">게임존</li>
                <br/>
            <label id="help">도움말</label>
            <li>도움말의 목차를 클릭한다면 그 위치로 이동됩니다.</li>
            <br/>
            <label id="gamezone">게임존</label>
            <li>
                게임존에서는 <img src="../img/grac/ALL.png" width="30px" height="35px"> <img src="../img/grac/12.png" width="30px" height="35px"> <img src="../img/grac/15.png" width="30px" height="35px"> <img src="../img/grac/19.png" width="30px" height="35px"> <img src="../img/grac/TEST.png" width="30px" height="35px"> <img src="../img/grac/R.png" width="30px" height="35px">
                등의 심의 딱지를 클릭하면 그 게임의 심의 정보가<br><img src="../img/help/tladml.png"><br/>와 같이 나옵니다.
            </li>
            <br/>
            <li>
                회색 "<font color="gray">이런 것</font>"을 클릭한다면 그 게임의 공식 사이트가 나옵니다.
            </li>
            <br/>
        </body>
    </head>
</html>