<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>설정</title>
        <script src="../../js/setting.js"></script>
        <link rel="stylesheet" href="../../css/setting.css">
    </head>
    <body>
        <div id="EngineSelect" style="white-space: initial;">
            <button id="EngineIcon" class="one" onclick="Engine('https://namu.wiki/Search?q=');"><img src="../../img/setting/namuwiki.png" alt="나무위키">나무위키</button>
            <button id="EngineIcon" class="one" onclick="Engine('https://www.google.com/search?q=');"><img src="../../img/setting/google.png" alt="구글">구글</button>
            <button id="EngineIcon" class="one" onclick="Engine('https://search.naver.com/search.naver?query=');"><img src="../../img/setting/naver.png" alt="네이버">네이버</button>
            <button id="EngineIcon" class="two" onclick="Engine('https://search.daum.net/search?q=');"><img src="../../img/setting/daum.png" alt="다음">다음</button>
            <button id="EngineIcon" class="two" onclick="Engine('https://search.daum.net/nate?&q=');"><img src="../../img/setting/nate.png" alt="네이트">네이트</button>
            <button id="EngineIcon" class="two" onclick="Engine('https://search.zum.com/search.zum?&query=');"><img src="../../img/setting/zum.png" alt="줌">줌</button>
            <button id="EngineIcon" class="three" onclick="Engine('http://search.dreamwiz.com/?&sword=');"><img src="../../img/setting/dreamwiz.png" alt="드림위즈">드림위즈</button>
            <button id="EngineIcon" class="three" onclick="Engine('https://search.yahoo.com/search?p=');"><img src="../../img/setting/yahoo.png" alt="야후">야후</button>
            <button id="EngineIcon" class="three" onclick="Engine('https://www.bing.com/search?q=');"><img src="../../img/setting/bing.png" alt="빙">빙</button>
        </div>
    </body>
</html>