<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../../css/gamezone.css" type="text/css" rel="stylesheet">
        <body>
            <h1 id="select">게임사를 선택하세요</h1>
            <div class="select">
                <a href="nexon.html"><img src="../../img/gamezone/NX.png"></a>
                <a href="jjo.html"><img src="../../img/gamezone/JJO.png"></a>
                <!-- <a href="netmarble.html"><img src="../img/gamezone/NM.png"></a> -->
                <!-- <a href="ncsoft.html"><img src="../img/gamezone/NC.png"></a> -->
            </div>
        </body>
    </head>
</html>