
<!DOCTYPE html>
<html>
    <head>
        <style>
        h1 {
            text-align: center;
            background-color: aqua;
            border: 10px solid #00fd37;
            border-radius: 10px;
            text-size-adjust: 10px;
            font-size:50pt;
            margin-top: -5px;
        }
        a{
            font-size: 30pt;
            text-decoration: none;
            color: #000;
        }
        </style>
        <meta charset="utf-8">
    <body>
        <h1>쪼리핑이 개발한 게임들</h1>
        <a href="https://letitbe99.tistory.com/2044" target="_blank">충치디펜스</a>  (심의 없음) (서비스 종료)
        <br/>
        <a href="https://kkutu.kr" target="_blank">끄투</a>  (심의 없음) (서비스 종료)
        <br/>
        <a href="https://sorry.daldal.so/java" target="_blank">자바!</a> <img src="../../img/grac/R.png" width="30px" height="35px" onclick="window.open('https://www.grac.or.kr/Statistics/Popup/Pop_StatisticsDetails.aspx?e84972c627cb329df98126cf794102e2a6c813a6a053e8e5ec12581d53453bb0','', 'toolbar=no, scrollbars=no, width=500, height=440');">
    </body>