<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="../../css/gamezone.css" type="text/css" rel="stylesheet">
        <style>
            @font-face {
                font-family: Nexon Gothic;
                src: local('../../font/Nexon Gothic.woff');
            }
            button.m {
                background-color: white;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: none;
                font-family: "Nexon Gothic", sans-serif;
                font-weight: bold;
                font-size: medium;
                color: #727272;
            }
            button.m:hover{
                color: #006eff;
            }
            button.PC {
                background-color: white;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom: solid 3px black;
                font-family: "Nexon Gothic", sans-serif;
                font-weight: bold;
                font-size: medium;
                color: black;
            }
        </style>
        <body>
            <button type="button" onclick="location.href=('nexon.html');" class="PC">PC 게임</button> <button type="button" class="m" onclick="location.href=('m-nexon.html');">모바일 게임</button>
            <h1>★ 즐겨찾기 ★</h1>
            <!--나 병신이였나 왜 굳이 <a href>로 했을까 그냥 이미지에 온 클릭 넣으면 될것을-->
            <a href="http://kart.nexon.com/main/index.aspx" target="_blank">카트라이더</a> <img src="../../img/grac/ALL.png" width="30px" height="35px"onclick="window.open('https://kart.nexon.com/Popup/GameGrade.html','', 'toolbar=no, scrollbars=no, width=520, height=450');">
            <br/>
            <a href="https://kartdrift.nexon.com/Main/Index" target="_blank">카트라이더 드리프트</a> <img src="../../img/grac/ALL.png" width="30px" height="35px">
            <br/>
            <a href="https://bf.nexon.com/Main/Index" target="_blank">버블파이터</a> <img src="../../img/grac/ALL.png" width="30px" height="35px" onclick="window.open('https://bf.nexon.com/Content/popup/GameUseClass.html','', 'toolbar=no, scrollbars=no, width=500, height=440');">
            <br/>
            <a href="https://ca.nexon.com/Home/Index" target="_blank">크레이지아케이드</a> <img src="../../img/grac/ALL.png" width="30px" height="35px" onclick="window.open('https://ca.nexon.com/Popup/UserAgeLimit','', 'toolbar=no, scrollbars=no, width=520, height=450');">
            <hr>
            <h1>A~Z</h1>
            <a href="http://fifaonline4.nexon.com/main/index" target="_blank">EA SPORTS™ FIFA ONLINE 4</a> <img src="../../img/grac/ALL.png" width="30px" height="35px" onclick="window.open('http://fifaonline4.nexon.com/Content/common/gameuser.html','', 'toolbar=no, scrollbars=no, width=520, height=450');">
            <br/>
            <a href="https://v4.nexon.com/kr-brand" target="_blank">V4</a> <img src="../../img/grac/19.png" width="30px" height="35px" onclick="window.open('https://v4.nexon.com/sub-brand/kr-grade','', 'toolbar=no, scrollbars=no, width=520, height=450');">
            <hr>
            <h1>ㄱ~ㄹ</h1>
            <a href="http://df.nexon.com/df/home" target="_blank">던전앤파이터</a> <a href="#" onclick="window.open('http://df.nexon.com/POP/common/game_grade.php','', 'toolbar=no, scrollbars=no, width=520, height=900');"><img src="../../img/grac/12.png" width="30px" height="35px"> <img src="../../img/grac/15.png" width="30px" height="35px"> <img src="../../img/grac/19.png" width="30px" height="35px"> <img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="hhttp://dn.nexon.com/index_contents.html" target="_blank">드래곤네스트</a> <a href="#" onclick="window.open('http://dn.nexon.com/common/grade_nexon.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/12.png" width="30px" height="35px"></a>
            <hr>
            <h1>ㅁ~ㅅ</h1>
            <a href="https://mabinogi.nexon.com/page/main/index.asp" target="_blank">마비노기</a> <a href="#" onclick="window.open('https://mabinogi.nexon.com/page/main/pop_game_use.asp','', 'toolbar=no, scrollbars=no, width=520, height=510');"><img src="../../img/grac/12.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://heroes.nexon.com/?skip=0" target="_blank">마비노기영웅전</a> <a href="#" onclick="window.open('../../img/gamezone/mabihero.png','', 'toolbar=no, scrollbars=no, width=493, height=314');"><img src="../../img/grac/19.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://maplestory.nexon.com/Home/Main" target="_blank">메이플스토리</a> <a href="#" onclick="window.open('https://maplestory.nexon.com/Common/Footer/GameGrade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://maplestory2.nexon.com/Main/Index" target="_blank">메이플스토리2</a> <a href="#" onclick="window.open('https://maplestory2.nexon.com/Content/html/pop_gameUser.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://baram.nexon.com/Home/Index" target="_blank">바람의나라</a> <a href="#" onclick="window.open('https://baram.nexon.com/content/popup/pop_gameUser.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="http://cyphers.nexon.com/cyphers/main" target="_blank">사이퍼즈</a> <a href="#" onclick="window.open('http://cyphers.nexon.com/cyphers/pages/policy/game_grade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"> <img src="../../img/grac/19.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://event.sa.nexon.com/210701/intro" target="_blank">서든어택</a> <a href="#" onclick="window.open('https://sa.nexon.com/popup/pop_gameUser.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"> <img src="../../img/grac/19.png" width="30px" height="35px"></a>
            <hr>
            <h1>ㅇ~ㅈ</h1>
            <a href="https://asgard.nexon.com/" target="_blank">아스가르드</a> <a href="#" onclick="window.open('https://asgard.nexon.com/Content/Popup/GameUser_Grade_Asgard.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://archeage.nexon.com/" target="_blank">아키에이지</a> <a href="#" onclick="window.open('../../img/gamezone/arch.png','', 'toolbar=no, scrollbars=no, width=501, height=56');"><img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://lod.nexon.com/main/page/nx.aspx?url=home/index" target="_blank">어둠의전설</a> <a href="#" onclick="window.open('https://lod.nexon.com/etc/game_user_grade_pop/content.asp','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://elsword.nexon.com/Main/Index" target="_blank">엘소드</a> <a href="#" onclick="window.open('https://elsword.nexon.com/Common/Grade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://elancia.nexon.com/main/page/nx.aspx?url=home/index" target="_blank">일랜시아</a> <a href="#" onclick="window.open('https://elancia.nexon.com/etc/game_user_grade_pop/content.asp','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <hr>
            <h1>ㅊ~ㅋ</h1>
            <a href="http://sky.nexon.com/Main/Index.aspx" target="_blank">천애명월도</a> <a href="#" onclick="window.open('http://sky.nexon.com/Popup/UseClass.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://counterside.nexon.com/Main/Index#Main" target="_blank">카운터사이드</a> <a href="#" onclick="window.open('https://counterside.nexon.com/Main/GameGrade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://csonline.nexon.com/Main/Index" target="_blank">카운터스트라이크온라인</a> <a href="#" onclick="window.open('https://csonline.nexon.com/Content/popup/pop_gamerank.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"> <img src="../../img/grac/19.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://kurtzpel.nexon.com/main/index.aspx" target="_blank">커츠펠</a> <img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://closers.nexon.com/Main/Index" target="_blank">클로저스</a> <a href="#" onclick="window.open('https://closers.nexon.com/Common/Grade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <hr>
            <h1>ㅌ~ㅎ</h1>
            <a href="https://tr.sgp.nexon.com/index.asp" target="_blank">테일즈런너</a> <a href="#" onclick="window.open('https://tr.sgp.nexon.com/global/pop_grade.html','', 'toolbar=no, scrollbars=no, width=400, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://tales.nexon.com/Home/Main" target="_blank">테일즈위버</a> <a href="#" onclick="window.open('https://tales.nexon.com/Footer/GameGrade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
            <br/>
            <a href="http://tos.nexon.com/main/v2/index.aspx" target="_blank">트리오브세이비어</a> <a href="#" onclick="window.open('http://tos.nexon.com/popup/grade.aspx','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/12.png" width="30px" height="35px"></a>
            <br/>
            <a href="http://ff14.nexon.com/main" target="_blank">파이널판타지14</a> <a href="#" onclick="window.open('http://ff14.nexon.com/support/popupGameGrade','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/15.png" width="30px" height="35px"></a>
            <br/>
            <a href="https://hp.nexon.com/Main" target="_blank">프로젝트 HP (가제)</a> <a href="#" onclick="window.open('https://hp.nexon.com/Content/html/UserAgeLimit.html','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/19.png" width="30px" height="35px"> <img src="../../img/grac/TEST.png" width="30px" height="35px"></a></a>
            <br/>
            <a href="https://fs2.nexon.com/web/main.do" target="_blank">프리스타일2</a> <a href="#" onclick="window.open('https://fs2.nexon.com/nexon/gameLevel.do','', 'toolbar=no, scrollbars=no, width=520, height=450');"><img src="../../img/grac/ALL.png" width="30px" height="35px"></a>
        </body>
    </head>
</html>